<ion-card color="dark">
  <ion-card-header>
    <ion-card-subtitle>
      
      <span class="text-primary">{{i+1}}.  </span>
      <span class="noticia-source-name">{{noticia.source.name}}</span>
      
      <div class="noticia-more">
        <ion-button fill="clear" (click)="lazarMenu()">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button >
      </div>

    </ion-card-subtitle>
    <ion-card-title class="titulo" (click)="abriNoticia()">{{noticia.title}}</ion-card-title>
  </ion-card-header>
  <ion-img *ngIf="noticia.urlToImage"
  [src]="noticia.urlToImage" (click)="abriNoticia()"></ion-img>
  <ion-card-content>
    {{noticia.description}}
  </ion-card-content>
</ion-card>