<ion-grid fixed>
  <ion-row>
    <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let item of noticias; let indice = index">
      <app-noticia [noticia]="item" [i]="indice"></app-noticia>
    </ion-col>
  </ion-row>
</ion-grid>