<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      ENCABEZADOS
    </ion-title>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" scrollable mode="md" color="primary" #segmento>
    <ion-segment-button *ngFor="let item of categorias" mode="md" [value]="item">
      <ion-label   class="ion-text-capitalize">{{item}}</ion-label>
    </ion-segment-button>
   
  </ion-segment>
</ion-header>

<ion-content color="dark" #content>
  <app-noticias [noticias]="noticias"></app-noticias>
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="lines" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
