
ion-segment-button{
    background-color: var(--ion-color-dark) !important;
    color: white!important;
}
.segment-button-checked {
    color:  var(--ion-color-primary) !important;
    font-weight: 700;
}