/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// estilos propios
.text-primary {
    color: var(--ion-color-primary)!important;
}
.noticia-source-name {
    font-size: 12px;
    color: crimson;
    text-align: justify;
}
.colorLoadingText .infinite-loading-text{
    color: white !important;
  }
  .titulo {
      font-size: 16px;
  }
  .noticia-more{
      font-size: 20px!important;
      position: absolute;
      right: -10px;
      top: -18px;
  }
  .action-dark, .action-sheet-group{
      background-color: var(--ion-color-dark)!important;
      color: white!important;
  }
  .action-dark ion-icon{
      color: white!important;
  }
  .ios .action-sheet-icon{
      display: none!important;
  }