<ion-header no-border>
  <ion-toolbar  color="dark">
    <ion-title class="ion-text-center">
    NoticiasAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <app-noticias [noticias]="noticias"></app-noticias>
    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="lines" loadingText="Cargando...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
